а) Так как изменение координаты тела происходит прямо пропорционально времени, то можно утверждать, что движение равномерное и прямолинейное. По отношению к точке отсчета (0; 0) у первого тела координата убывает, а у второго наоборот — возрастает. Первое тело движется против оси х, второе — по направлению оси координат.
<br><br>
б) Чтобы ответить на вопрос об отличии скоростей, определим их из уравнения координаты:
<br>
v(x)=x − xo, тогда
<br>
v1(x)=3 − 0м/с = 3 м/с.
<br>
v2(x)=3 − 6м/с = -3 м/с.
<br>
Скорости тел равны по абсолютному значению, но противоположны по направлению.
<br>
Зная также, что v=tg α (геометрический смысл скорости) и сравнивая углы наклонов графиков движения тел к оси t, приходим к выводу, что углы одинаковы, следовательно, скорости равны.
<br><br>
в) Точка пересечения двух прямых означает, что тела встретились в одно и то же время в одной и той же точке, т. е. время встречи t = 4 c, а координата x = 3 м.
<br><br>
г) Так как движение равномерное и прямолинейное, то S = x − xo. Находим пути, пройденные телами до встречи:
<br>
S1= | x1 − xo1 | = | (3−6) м | = 3 м,
<br>
S2= | x2 − xo2 | = | (3−0) м | = 3 м.
<br>
Оба тела, двигаясь с одинаковыми скоростями, за одно и тоже время прошли равное расстояние.