Выпишем начальные условия движения камня <br>
При t = 0: <br>
<img src="static/img/2-1ans.png" alt=""><br>
<img src="static/img/2-2ans.png" alt=""><br>
Значение проекций скорости камня в момент времени t: <br>
<img src="static/img/2-3ans.png" alt=""><br>
<img src="static/img/2-4ans.png" alt=""><br>
Координаты камня в момент времени t: <br>
<img src="static/img/2-5ans.png" alt=""><br>
<img src="static/img/2-6ans.png" alt=""><br>
Время полета tп найдем из условия, что в момент падения камня на Землю, его координата у становится равной нулю. <br>
<img src="static/img/2-7ans.png" alt=""><br>
Тогда: <br>
<img src="static/img/2-8ans.png" alt=""><br>
Так как в верхней точке траектории координата камня по оси Оу равна h, получим формулу, для определения этой высоты: <br>
<img src="static/img/2-9ans.png" alt=""><br>
