Перейдем в систему отсчета, которая в момент выстрела начинает двигаться вниз с ускорением g без начальной скорости. В этой системе отсчета снаряд летит по прямой с постоянной скоростью, шар поднимается вверх без начальной скорости с ускорением g, а время до взрыва, расстояние от точки взрыва до шара и угол между начальной скоростью снаряда и горизонтом такие же, как в системе отсчета, связанной с Землей.
<br>
Точка взрыва снаряда ввиду произвольности выбора направления выстрела находится на окружности с центром в точке C, где изначально находилась пушка, и радиусом   (на рисунке она показана красным цветом). Ближайшая к конечному положению шара B точка этой окружности лежит на отрезке BC, то есть стреляющие должны целиться в точку, находящуюся на
высоте <img src="static/img/3-1ans.png" alt=""> над начальным положением шара. <br>
<img src="static/img/3-2ans.png" alt=""> <br>
Тангенс угла, под которым следует стрелять, легко определить из рисунка: <br>
<img src="static/img/3-3ans.png" alt=""> <br><br>
<b>Ответ: 3.7</b>