Запишем уравнения движения копья: <br>
<img src="static/img/4-1ans.png" alt=""><br>
<img src="static/img/4-2ans.png" alt=""><br>
Очевидно, что в момент времени τ, соответствующий попаданию копья в мишень эти координаты примут значения: <br>
<img src="static/img/4-3ans.png" alt=""><br>
<img src="static/img/4-4ans.png" alt=""><br>
<img src="static/img/4-5ans.png" alt=""><br>
<img src="static/img/4-6ans.png" alt=""><br>
Выразим из первого уравнения этот момент времени и подставим его во второе уравнение: <br>
<img src="static/img/4-7ans.png" alt=""><br>
<img src="static/img/4-8ans.png" alt=""><br>
<img src="static/img/4-9ans.png" alt=""><br>
<img src="static/img/4-10ans.png" alt=""><br><br>
<b>Ответ: 12.</b>

