а)На рисунке показаны графики равномерного движения тел.
<br>
В начальный момент времени t = 0 первое тело имеет начальную координату хо1 = 1 м, второе тело — координату хо2 = 0.
<br>
Оба тела движутся в направлении оси Х, так как координата возрастает с течением времени.
<br><br>
б) Уравнение движения для равномерного прямолинейного движения имеет вид: x=xо+vхt.
<br>
Тогда для первого, второго тела соответственно:
<br>
x1=xо1+v1(хt) и x2=xо2+v2(хt)
<br>
или x1=1+v1(хt), x2=v2(хt).
<br>
Определим скорости первого и второго тела:
<br>
v1(x)=x1 − 1=2 − 1= 0,5 м/с.
<br>
v2(x)=x2=1= 0,5 м/с.
<br>
Уравнения скорости имеют вид: v1(х)=v2(х)=0,5 м/с.
<br>
Так как S=v(хt), то уравнение пути S=0,5t. 