1) Движения равноускоренные.
<br>
2) V0 = 10 м/с
<br>
3) V1=V2
<br>
10 +0,8t = -6 + 4t
<br>
16 + 3,2t
<br>
t = 5c
<br>
V(5) = 10+ 0,8 * 5 = 14 м/с
<br>
r(5) = |X1(5) - X2(5)|=|10 * 5 + 0,5 * 5^2 – (-6) * 5 – 2 * 5^2 | = |50 + 10 + 30 – 50| = 40 м.
4) При встрече координаты двух разных тел будут одинаковыми х1(t) = х2(t).
<br>
10t+ 0,4t2 = - 6t + 2t2.
<br>
1,6 *tвс2 - 16 *tвс = 0.
<br>
(1,6t - 16 )t = 0.
<br>
t1 = 0 с - тела начинают своё движение с начала координат.
<br>
1,6t - 16 = 0.
<br>
t2 = 10 с.
<br>
Для нахождении координаты встречи х подставим значение t = 10 с в любое из двух уравнений.
<br>
х = 10 *10 + 0,4 *(10)2 = 140 м.
<br>
х = - 6 *10 + 2 *(10)2 = 140 м.
<br>
Ответ: тела начинают движение с начала координат, тела встретятся через t = 10 с, координата их встречи х = 140 м.