Выпишем начальные условия движения снаряда в выбранной системе координат<br>
При t = 0:<br>
<img src="static/img/1-1ans.png" alt=""><br>
Тогда движение снаряда будет описываться следующими уравнениями:<br>
<img src="static/img/1-2ans.png" alt=""><br>
<img src="static/img/1-3ans.png" alt=""><br>
<img src="static/img/1-4ans.png" alt=""><br>
<img src="static/img/1-5ans.png" alt=""><br>
Учитывая, что в верхней точке траектории полета υy = 0, определим время подъема снаряда до этой точки:<br>
<img src="static/img/1-6ans.png" alt=""><br>
<img src="static/img/1-7ans.png" alt=""><br>
Тогда максимальная высота подъема снаряда:<br>
<img src="static/img/1-8ans.png" alt=""><br>
<img src="static/img/1-9ans.png" alt=""><br>
<img src="static/img/1-10ans.png" alt=""><br>
В момент падения снаряда на Землю:<br>
<img src="static/img/1-11ans.png" alt=""><br>
Тогда, с учетом этих условий, запишем уравнения для определения координат снаряда<br>
<img src="static/img/1-12ans.png" alt=""><br>
Находим время полета снаряда:<br>
<img src="static/img/1-13ans.png" alt=""><br>
<img src="static/img/1-14ans.png" alt=""><br>
Тогда дальность полета:<br>
<img src="static/img/1-15ans.png" alt=""><br>
<img src="static/img/1-16ans.png" alt=""><br>
Мгновенная скорость в любой точке траектории:<br>
<img src="static/img/1-17ans.png" alt=""><br>
<img src="static/img/1-18ans.png" alt=""><br>
<img src="static/img/1-19ans.png" alt=""><br>
<img src="static/img/1-20ans.png" alt=""><br>
<img src="static/img/1-21ans.png" alt=""><br>
<img src="static/img/1-22ans.png" alt=""><br>
<img src="static/img/1-23ans.png" alt=""><br>
<img src="static/img/1-24ans.png" alt=""><br>
Прежде чем производит необходимые вычисления, выпишем все необходимые формулы <br>
<img src="static/img/1-25ans.png" alt=""><br>
Данные формулы являются основными при решении задач на движение тела, брошенного под углом к горизонту <br>
<img src="static/img/1-26ans.png" alt=""><br>
<img src="static/img/1-27ans.png" alt=""><br>
<img src="static/img/1-28ans.png" alt=""><br>
<img src="static/img/1-29ans.png" alt=""><br><br>
<b>Ответ: tп = 87 с; L = 38 км; υк = 618 м/с; hmax = 9,5 км. </b>



