<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{{ title }}</title>
</head>
<body>
<div class="container-lg">
    <h1>Задачи по физике</h1>
    <h2>Равномерное прямолинейное движение</h2>
    <div class="task">
        <h4>Задача 1</h4>
        <div class="row">
            <p class="col-lg-10 col-12">Графики каких движений показаны на рисунке? Как отличаются скорости движения
                этих
                тел? В какой момент времени тела встретились? Какие пути тела прошли до встречи?</p>
            <img class="col-lg-2 col-9" src="../img/1.gif" alt="Рисунок к задаче">
        </div>
        <hr>
    </div>
    <div class="task">
        <h4>Задача 2</h4>
        <div class="row">
            <p class="col-lg-10 col-12">На рисунке представлены графики зависимости координаты двух тел от времени.
                Графики каких зависимостей показаны? Какой вид имеют графики зависимости скорости и пути, пройденного
                телом, от времени?</p>
            <img src="../img/2.gif" alt="Рисунок к задаче" class="col-lg-2 col-9">
        </div>
        <hr>
    </div>
    <div class="task">
        <h4>Задача 3</h4>
        <div class="row">
            <p class="col-lg-10 col-12">На рисунке представлен график зависимости пути от времени. Определите по графику
                скорость движения велосипедиста в интервале от момента времени 1 с до момента времени 3 с после начала
                движения. Ответ дайте в метрах в секунду.</p>
            <img src="../img/3.png" alt="Рисунок к задаче" class="col-lg-2 col-9">
        </div>
        <hr>
    </div>
    <div class="task">
        <h4>Задача 4</h4>
        <div class="row">
            <p class="col-lg-10 col-12">Движение материальной точки задано двумя графиками пути от времени. Какой из
                графиков соответствует большей скорости движения тела?</p>
            <img src="../img/4.png" alt="Рисунок к задаче" class="col-lg-2 col-9">
        </div>
        <hr>
    </div>
    <div class="task">
        <h4>Задача 5</h4>
        <div class="row">
            <p class="col-lg-10 col-12">По графику v = v(t) прямолинейного движения определите путь, пройденный телом за
                30 с.</p>
            <img src="../img/5.gif" alt="Рисунок к задаче" class="col-lg-2 col-9">
        </div>
        <hr>
    </div>
    <br>


    <footer class="m-5"><h1 class="d-flex justify-content-center">Проект Руслана Сидоренко</h1>
        <p class="d-flex justify-content-center">2021-2022</p></footer>
</div>
</body>
</html>